PUBLIC_POCKETBASE_URL=
PRIVATE_POCKETBASE_VALIDATION_USER=
PRIVATE_POCKETBASE_VALIDATION_PASSWORD=
PRIVATE_POCKETBASE_VALIDATION_TOKEN=
GITHUB_TOKEN= # Your GitHub token for authentication used for MCP Servers